body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  background: linear-gradient(to bottom left, #007aff, #64a6f2, #007aff);
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  /* height: 100%; */
}

.wrapper {
  /* min-height: 75vh; */
  width: 60vw;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  margin-top: 2px;
}

.rounded-container,
.rounded-container-2 {
  flex: 1 0 50%;
  border-radius: 20px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.rounded-container {
  background-color: #007aff;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  justify-content: center;
}

.rounded-container-2 {
  background-color: #b5d8ff;
  height: auto;
  margin-bottom: 0;
  padding-bottom: 0;
  border: 1px solid white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  justify-content: center;
}

.asher-link {
  color: #fff;
}

h1 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

#result,
#changes,
#error {
  text-align: center;
  margin-bottom: 10px;
}

.btn,
#button-addon2 {
  border-radius: 20px;
}

.rounded-button,
.btn:hover {
  background-color: #227ad1;
}

.form-equal-width {
  width: 100%;
}

.grow {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  justify-content: center;
}

.inter-text {
  font-family: "Inter", sans-serif;
}

.result-link {
  font-size: 20px;
}

/* Mobile Styles */
@media (max-width: 576px) {
  .main-wrapper {
    padding: 20px;
  }
  .wrapper {
    flex-direction: column;
    height: auto;
    width: 100%;
  }
  .rounded-container,
  .rounded-container-2 {
    border-radius: 0;
    padding: 5px;
  }
}

footer {
  padding: 5px 20px;
  background-color: #007aff;
  color: #fff;
  text-align: center;
}

.error-animation {
  animation: shake 0.5s;
}

.success-animation {
  animation: highlight 0.9s;
}

.error-animation {
  animation: shake 0.5s;
}

.success-animation {
  animation: highlight 0.9s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-15px);
  }
  40% {
    transform: translateX(15px);
  }
  60% {
    transform: translateX(-15px);
  }
  80% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes highlight {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: #d4edda;
  }
  100% {
    background-color: inherit;
  }
}

#error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  animation: pulse 2s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}
lottie-player {
  height: 300px; 
  width:  300px;
  
}
  @media screen and (min-width: 1600px) {
   
    lottie-player {
      height: 500px;
      width: 500px;

       
    }
  }
 
    
  

