body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background: linear-gradient(to bottom left, #007aff, #64a6f2, #007aff);
  display: flex;
  flex-direction: column;
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.wrapper {
  width: 60vw;
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  margin-top: 2px;
}

.rounded-container,
.rounded-container-2 {
  flex: 1 0 50%;
  border-radius: 20px;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.special-h3 {
  padding-top: 20px;  /* Adjust based on your design needs */
}

.rounded-container {
  background-color: #007aff;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.rounded-container-2 {
  background-color: #b5d8ff;
  border: 1px solid white;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.form-group label,
.input-group input {
  /* Add your custom styles for form elements here */
}

.btn,
#button-addon2 {
  border-radius: 20px;
}

.result-link {
  font-size: 20px;
}

@media (max-width: 576px) {
  .main-wrapper {
    padding: 20px;
  }
  .wrapper {
    flex-direction: column;
    width: 100%;
  }
  .rounded-container,
  .rounded-container-2 {
    border-radius: 0;
    padding: 5px;
  }
}

footer {
  padding: 5px 20px;
  background-color: #007aff;
  color: #fff;
  text-align: center;
}

.error-animation {
  animation: shake 0.5s;
}

.success-animation {
  animation: highlight 0.9s;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-15px);
  }
  40% {
    transform: translateX(15px);
  }
  60% {
    transform: translateX(-15px);
  }
  80% {
    transform: translateX(15px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes highlight {
  0% {
    background-color: inherit;
  }
  50% {
    background-color: #d4edda;
  }
  100% {
    background-color: inherit;
  }
}

#error {
  color: red;
  font-weight: bold;
  margin-top: 10px;
  animation: pulse 2s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
  }
}
